<center>

    <a asp-action="Index" asp-controller="Main" asp-area="common">На главную страницу сайта</a>

    <br /><br />

    <a asp-action="Index" asp-controller="News" asp-area="Admin">Управление новостями</a>

    <br /><br />

    <a asp-action="Index" asp-controller="Gallery" asp-area="Admin">Управление галереей</a>

    <br /><br />

    <a asp-action="AllUsers" asp-controller="Users" asp-area="Admin">Список пользователей</a>

</center>