@model OPKODABbl.ViewModels.Account.RegisterViewModel

<div class="content_wrapper">
    <a class="content_wrapper_blue" asp-action="Register" asp-controller="Account">Регистрация нового пользователя</a>
    <form class="register" asp-action="Register" asp-controller="Account" asp-antiforgery="true" method="post">
        <table class="register">
            <tr>
                <td class="left">Твой логин на сайте. Если собираешься подать заявку на вступление, в качестве логина указывай ник своего персонажа, иначе заявка будет отклонена без рассмотрения.</td>
                <td class="right">
                    <div>
                        <img style="vertical-align: middle;" src="~/images/login_icon.png" />
                        <input class="login_page" type="text" asp-for="Name" placeholder="Логин" />
                    </div>
                    <div class="attention_wrapper">
                        <span class="wrong_data" asp-validation-for="Name"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">Класс твоего персонажа.</td>
                <td class="right">
                    <div>
                        <img style="vertical-align: middle;" src="~/images/whitespace_icon.gif" />
                        <select asp-for="CharacterClassId" asp-items="ViewBag.Classes" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="attention_wrapper">
                        <span class="wrong_data" asp-validation-for="CharacterClassId"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">Адрес Email. Указывай реальный адрес, т.к. на него придет письмо для подтверждения регистрации.</td>
                <td class="right">
                    <div>
                        <img style="vertical-align: middle;" src="~/images/mail_icon.png" />
                        <input class="login_page" type="email" asp-for="Email" placeholder="Адрес Email" />
                    </div>
                    <div class="attention_wrapper">
                        <span class="wrong_data" asp-validation-for="Email"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">Задай пароль, отличный от "qwerty" (если, конечно, ты не паладин).</td>
                <td class="right">
                    <div>
                        <img style="vertical-align: middle;" src="~/images/pass_icon.png" />
                        <input class="login_page" type="password" asp-for="Password" placeholder="Пароль" />
                    </div>
                    <div class="attention_wrapper">
                        <span class="wrong_data" asp-validation-for="Password"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="left">Введи пароль еще раз, на всякий случай.</td>
                <td class="right">
                    <div>
                        <img style="vertical-align: middle;" src="~/images/pass_icon.png" />
                        <input class="login_page" type="password" asp-for="PasswordConfirm" placeholder="Еще раз пароль" />
                    </div>
                    <div class="attention_wrapper">
                        <span class="wrong_data" asp-validation-for="PasswordConfirm"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <input class="login_button" type="submit" value="Регистрация" />
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

@section scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}