@model OPKODABbl.ViewModels.Account.RegisterViewModel

<div class="content_wrapper">
    <a class="content_wrapper_blue" asp-action="Register" asp-controller="Account">Регистрация нового пользователя</a>
    <form class="login_page" asp-action="Register" asp-controller="Account" asp-antiforgery="true" method="post">
        <div class="register_attention">
            Обратите внимание, что мы не предъявляем каких-то изощренных требований к вашему паролю, дабы не взрывать вам мозг. Но при этом мы надеемся на ваше благоразумие, и что вы не будете использовать пароли от других ваших аккаунтов, а так же не станете делать пароль аля "qwerty".
        </div>
        <div>
            <img style="vertical-align: middle;" src="~/images/login_icon.png" />
            <input class="login_page" type="text" asp-for="Name" placeholder="Логин" />
        </div>
        <div class="attention_wrapper">
            <span class="wrong_data" asp-validation-for="Name"></span>
        </div>
        <div>
            <img style="vertical-align: middle;" src="~/images/mail_icon.png" />
            <input class="login_page" type="email" asp-for="Email" placeholder="Адрес Email" />
        </div>
        <div class="attention_wrapper">
            <span class="wrong_data" asp-validation-for="Email"></span>
        </div>
        <div>
            <img style="vertical-align: middle;" src="~/images/pass_icon.png" />
            <input class="login_page" type="password" asp-for="Password" placeholder="Пароль" />
        </div>
        <div class="attention_wrapper">
            <span class="wrong_data" asp-validation-for="Password"></span>
        </div>
        <div>
            <img style="vertical-align: middle;" src="~/images/pass_icon.png" />
            <input class="login_page" type="password" asp-for="PasswordConfirm" placeholder="Повторите пароль" />
        </div>
        <div class="attention_wrapper">
            <span class="wrong_data" asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input class="login_button" type="submit" value="Регистрация" />
        </div>
    </form>
</div>

@section scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}