<div class="BBcode">
    <input class="bb_buttons" style="font-weight: bold;" type="button" value="Жирный" onclick="BBcode_1()">
    <input class="bb_buttons" style="font-style: italic;" type="button" value="Курсив" onclick="BBcode_2()">
    <input class="bb_buttons" style="text-decoration: underline;" type="button" value="Подчеркнутый" onclick="BBcode_3()">
    <br /><br />
    <input class="bb_buttons" type="button" value="Изображение" onclick="BBcode_4()">
    <input class="bb_buttons" type="button" value="Цитата" onclick="BBcode_5()">
    <br /><br />
    <input class="bb_button_paladin" type="button" onclick="BBcode_6()">
    <input class="bb_button_warrior" type="button" onclick="BBcode_7()">
    <input class="bb_button_hunter" type="button" onclick="BBcode_8()">
    <input class="bb_button_shaman" type="button" onclick="BBcode_9()">
    <input class="bb_button_rogue" type="button" onclick="BBcode_10()">
    <input class="bb_button_druid" type="button" onclick="BBcode_11()">
    <input class="bb_button_priest" type="button" onclick="BBcode_12()">
    <input class="bb_button_mage" type="button" onclick="BBcode_13()">
    <input class="bb_button_warlock" type="button" onclick="BBcode_14()">
</div>