<meta name="viewport" content="width=device-width" />
<meta charset="utf-8" />
<title>@ViewBag.Title</title>
<link type="text/css" rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link type="text/css" rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />