body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #000000;
    background-image: url("../images/background_lion.jpg");
    background-position-x: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
}
div.renderbody {
    width: 1056px;
    margin: auto;
}
div.spacer_link {
    width: 100%;
    text-align: right;
    margin: 16px 0px 21px 0px;
}
    div.spacer_link a {
        font-family: OPKODAB;
        font-size: 19px;
        color: #ffffff;
        text-decoration: none;
        padding: 5px 8px 5px 8px;
        background-color: rgba(0, 140, 227, 0.7);
    }
        div.spacer_link a:hover {
            background-color: rgba(255, 0, 0, 0.7);
        }
span.white {
    font-family: OPKODAB;
    font-size: 21px;
    color: #ffffff;
}
a.white {
    font-family: Verdana;
    font-size: 12px;
    color: #ffffff;
}
a.white:hover {
    text-decoration: none;
}


/*ContentPages*/
div.content_wrapper {
    width: 1054px;
    padding: 4px 0px 0px 0px;
    margin: 0px 0px 60px 0px;
    background-color: rgba(28, 32, 39, 0.5);
    border-left: 1px solid #2e3741;
    border-top: 1px solid #2e3741;
    border-right: 1px solid #2e3741;
    border-bottom: 1px solid #2e3741;
}
div.content_title {
    width: 100%;
    background-color: red;
    margin: 20px 0px 0px 0px;
}
a.content_wrapper_blue {
    font-family: OPKODAB;
    font-size: 21px;
    color: #ffffff;
    background-color: rgba(0, 140, 227, 0.7);
    padding: 5px 9px 5px 9px;
    margin: 0px 0px 0px -1px;
    text-decoration: none;
}
a.content_wrapper_red {
    font-family: OPKODAB;
    font-size: 21px;
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.7);
    padding: 5px 9px 5px 9px;
    margin: 0px 0px 0px -1px;
    text-decoration: none;
}
div.content_wrapper_yellow {
    max-width: 700px;
    font-family: OPKODAB;
    font-size: 21px;
    color: #fff343;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 20px;
    text-decoration: none;
    display: inline-block;
}
div.date_wrapper_blue {
    /*background-color: rgba(0, 140, 227, 0.7);*/
    font-family: OPKODAB;
    font-size: 21px;
    color: #ffffff;
    float: right;
    display: inline-block;
    padding: 5px 9px 5px 9px;
    margin: 5px 11px 0px 0px;
}


/*LoginHeader*/
div.login_header {
    width: 1056px;
    height: 60px;
    margin: auto;
    padding: 0px 0px 0px 0px;
    text-align: right;
}
form.login_pass {
    margin: 0px 0px 0px 0px;
    padding: 15px 20px 0px 0px;
}
form.login_pass img {
    vertical-align: middle;
}
input.login_pass {
    width: 120px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    margin: 0px 15px 0px 0px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    background-color: rgba(49, 51, 54, 0.6);
}
    input.login_pass:focus {
        outline: none;
    }

input.login_button {
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 0px 0px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 15px;
    font-family: OPKODAB;
    font-size: 19px;
    color: #1b8bdf;
}
    input.login_button:focus {
        outline: none;
    }
    input.login_button:hover {
        color: #ffffff;
        background-color: #1b8bdf;
    }
input.logout_button {
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 0px 0px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 15px;
    font-family: OPKODAB;
    font-size: 19px;
    color: #ff0000;
}
    input.logout_button:focus {
        outline: none;
    }
    input.logout_button:hover {
        color: #ffffff;
        background-color: #ff0000;
    }
a.login_pass_register {
    font-family: OPKODAB;
    font-size: 19px;
    color: #ff0000;
    text-decoration: none;
    margin: 0px 0px 0px 15px;
}
a.login_white {
    font-family: OPKODAB;
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}
a.login_white:hover {
    text-decoration: underline;
}


/*LoginPage*/
form.login_page {
    margin: 30px 0px 20px 0px;
    text-align: center;
}
input.login_page {
    width: 200px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    margin: 0px 15px 0px 0px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    background-color: rgba(49, 51, 54, 0.6);
}

    input.login_page:focus {
        outline: none;
    }


/*Register*/
form.register {
    margin: 20px 0px 0px 0px;
    text-align: center;
}
table.register {
    width: 800px;
    border-collapse: collapse;
    margin: auto;
    font-family: Verdana;
    font-size: 13px;
    color: #dcdcdc;
}
    table.register tr {
        height: 90px;
    }
    table.register td.left {
        width: 50%;
        padding: 12px 0px 0px 0px;
        vertical-align: top;
        text-align: right;
    }
    table.register td.right {
        width: 50%;
        text-align: center;
    }
        table.register select {
            width: 224px;
            font-family: Verdana;
            color: #ffffff;
            font-size: 13px;
            padding: 5px 10px 5px 10px;
            margin: 0px 15px 0px 0px;
            border: 2px solid #ffffff;
            border-radius: 15px;
            background-color: rgba(49, 51, 54, 0.6);
            -webkit-appearance: none;
        }

            table.register select:hover {
                -webkit-appearance: none;
            }

            table.register select:focus {
                outline: none;
            }


/*Logo*/
div.logo {
    width: 1056px;
    height: 406px;
    margin: auto;
    background-image: url("../images/main_logo.jpg");
}


/*AttentionMessages*/
div.attention_wrapper {
    height: 20px;
    padding: 10px 0px 10px 0px;
}
div.register_attention {
    width: 670px;
    min-height: 260px;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 20px;
    text-align: justify;
    font-family: Verdana;
    font-size: 12px;
    color: #dcdcdc;
}
span.wrong_data {
    font-family: Verdana;
    font-size: 14px;
    color: #ff0000;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


/*MainMenu*/
div.main_menu_wrapper {
    width: 1056px;
    height: 60px;
    margin: auto;
}
div.main_menu {
    height: 60px;
    float: left;
}
div.main_menu ul {
    float: left;
    padding: 20px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
}
div.main_menu li {
    padding: 0px 23px 0px 0px;
    display: inline-block;
}
    div.main_menu a {
        font-family: OPKODAB;
        font-size: 19px;
        color: #ffffff;
        text-decoration: none;
    }
        div.main_menu a:hover {
            color: #ff0000;
        }

div.navigation {
    float: right;
    margin: 17px 0px 0px 0px;
    float: right;
}
    /*div.navigation a.navigation_red {
        font-family: OPKODAB;
        font-size: 19px;
        color: #ffffff;
        text-decoration: none;
        padding: 5px 8px 5px 8px;
        background-color: rgba(255, 0, 0, 0.7);
    }*/
    div.navigation_blue {
        /*font-family: OPKODAB;
        font-size: 19px;
        color: #ffffff;
        text-decoration: none;*/
        padding: 3px 0px 4px 0px;
        background-color: rgba(0, 140, 227, 0.7);
        float: right;
    }
        div.navigation_blue:hover {
            background-color: rgba(255, 0, 0, 0.7);
        }
    div.navigation_red {
        /*font-family: OPKODAB;
        font-size: 19px;
        color: #ffffff;
        text-decoration: none;*/
        padding: 3px 0px 4px 0px;
        background-color: rgba(255, 0, 0, 0.7);
        float: right;
    }
        div.navigation_red:hover {
            background-color: rgba(0, 140, 227, 0.7);
        }
div.navigation_title {
    max-width: 380px;
    font-family: OPKODAB;
    font-size: 19px;
    color: #fff343;
    text-decoration: none;
    padding: 5px 8px 5px 8px;
    margin: 0px 5px 0px 0px;
    /*background-color: rgba(255, 0, 0, 0.7);*/
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a.navigation_super {
    font-family: OPKODAB;
    font-size: 19px;
    color: #ffffff;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
}
a.navigation_super:hover {
    color: #ffffff;
    text-decoration: none;
}

/*div.navigation_title {
    max-width: 300px;
    overflow: hidden;
    margin: 20px 20px 0px 0px;
    display: inline-block;
}
    div.navigation a.navigation_blue {
        font-family: OPKODAB;
        font-size: 19px;
        color: #ffffff;
        text-decoration: none;
        padding: 5px 8px 5px 8px;
        background-color: rgba(0, 140, 227, 0.7);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }*/


/*News*/
div.news0 {
    position: relative;
    width: 300px;
    height: 395px;
    display: inline-block;
    background-color: rgba(28, 32, 39, 0.5);
    background-repeat: no-repeat;
    border-left: 1px solid #2e3741;
    border-top: 1px solid #2e3741;
    border-right: 1px solid #2e3741;
    border-bottom: 4px solid #1b8bdf;
}
    div.news0:hover {
        border-bottom: 4px solid #ff0000;
    }
    div.news0 a {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
    }
div.news1 {
    position: relative;
    width: 300px;
    height: 395px;
    margin: 0px 0px 0px 71px;
    display: inline-block;
    background-color: rgba(28, 32, 39, 0.5);
    background-repeat: no-repeat;
    border-left: 1px solid #2e3741;
    border-top: 1px solid #2e3741;
    border-right: 1px solid #2e3741;
    border-bottom: 4px solid #1b8bdf;
}
    div.news1:hover {
        border-bottom: 4px solid #ff0000;
    }
    div.news1 a {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
    }
img.news_img {
    position: absolute;
}
div.news_img_border {
    position: absolute;
    background-image: url("../images/news_img_border.png");
    width: 300px;
    height: 169px;
}
span.news_date {
    font-family: OPKODAB;
    font-size: 21px;
    color: #ffffff;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.8);
    margin: 3px 0px 0px 3px;
    padding: 3px 3px 3px 3px;
}
span.news_title {
    position: absolute;
    font-family: OPKODAB;
    font-size: 19px;
    color: #fff343;
    margin: 177px 0px 0px 10px;
    width: 282px;
    height: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
span.news_body {
    position: absolute;
    font-family: Verdana;
    font-size: 14px;
    color: #dcdcdc;
    margin: 197px 10px 0px 10px;
    width: 281px;
    height: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}
div.news_comments {
    position: absolute;
    width: 300px;
    margin: 373px 0px 0px 0px;
    box-sizing: border-box;
    padding-right: 10px;
    text-align: right;
    font-family: OPKODAB;
    font-size: 17px;
    color: #ffffff;
}



/*Forum Last Messages*/
div.forum_last_messages {
    position: relative;
    display: flex;
    width: 1056px;
    height: 50px;
    margin: 0px 0px 5px 0px;
    background-color: rgba(28, 32, 39, 0.5);
}
img.forum_last_messages_icon {
    position: absolute;
    margin: 9px 0px 0px 9px;
    width: 32px;
    height: 32px;
}
a.forum_last_messages_title {
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    margin: 9px 0px 0px 55px;
    text-decoration: none;
    font-family: OPKODAB;
    font-size: 19px;
    color: #fff343;
}
a.forum_last_messages_title:hover {
    text-decoration: underline;
}
span.forum_last_messages_message {
    position: absolute;
    margin: 26px 0px 0px 55px;
    font-family: Verdana;
    font-size: 12px;
    color: #ffffff;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
span.forum_last_messages_nickname {
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    margin: 16px 0px 0px 600px;
    text-decoration: none;
    font-family: OPKODAB;
    font-size: 21px;
}
span.forum_last_messages_date {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    margin: 17px 0px 0px 850px;
    text-decoration: none;
    font-family: OPKODAB;
    font-size: 19px;
    color: #ffffff;
}
img.forum_last_messages_next_icon {
    position: absolute;
    margin: 12px 0px 0px 1017px;
}
a.test_link {
    width: 21px;
    height: 30px;
    position: absolute;
    margin: 9px 0px 0px 1017px;
    padding: 0px 0px 0px 9px;
    background-color: #1b8bdf;
    border-radius: 15px;
    font-family: Arial;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
}
    a.test_link:hover {
        background-color: #ff0000;
    }


/*ReadNews*/
div.readnews_wrapper {
    padding: 20px 20px 15px 20px;
    margin: 0px 0px 20px 0px;
    font-family: Verdana;
}
div.readnews_bodytext {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
    font-family: Verdana;
    font-size: 14px;
    color: #dcdcdc;
    text-align: justify;
}
div.readnews_image_wrapper {
    margin: 0px 0px 60px 0px;
}
div.readnews_image0 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 169px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
    div.readnews_image0 div.readnews_image_lamp {
        position: absolute;
        width: 300px;
        height: 169px;
    }

    div.readnews_image0:hover div.readnews_image_lamp {
        width: 300px;
        height: 199px;
        border-bottom: 4px solid red;
    }
div.readnews_image1 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 169px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 74px;
}
    div.readnews_image1 div.readnews_image_lamp {
        position: absolute;
        width: 300px;
        height: 169px;
    }
    div.readnews_image1:hover div.readnews_image_lamp {
        width: 300px;
        height: 199px;
        border-bottom: 4px solid red;
    }
a.readnews_image_link {
    position: absolute;
    width: 300px;
    height: 169px;
}
span.readnews_author {
    float: right;
    font-family: Verdana;
    font-size: 14px;
    color: #ffffff;
}
span.readnews_date {
    float: left;
    font-family: Verdana;
    font-size: 14px;
    color: #ffffff;
}


/*NewsArchive*/
div.newsarchive_wrapper {
    position: relative;
    width: 1056px;
    height: 169px;
    background-repeat: no-repeat;
    margin: 0px 0px 30px 0px;
}
    div.newsarchive_wrapper img {
        position: absolute;
        float: left;
    }

    div.newsarchive_wrapper a {
        width: 100%;
        height: 100%;
        position: absolute;
    }

div.newsarchive_wrapper div.newscontent_wrapper {
    position: absolute;
    width: 752px;
    height: 167px;
    margin: 0px 0px 0px 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid #2e3741;
    border-right: 4px solid #1b8bdf;
    border-bottom: 1px solid #2e3741;
    background-color: rgba(28, 32, 39, 0.5);
}
    div.newsarchive_wrapper:hover div.newscontent_wrapper {
        border-right: 4px solid #ff0000;
    }
div.newsarchive_title {
    width: 732px;
    font-family: OPKODAB;
    font-size: 21px;
    color: #fff343;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 10px 0px 10px;
}
div.newsarchive_body {
    width: 732px;
    height: 100px;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    font-family: Verdana;
    font-size: 14px;
    color: #dcdcdc;
}
div.newsarchive_readnext {
    width: 160px;
    height: 20px;
    margin: 5px 5px 5px 5px;
    font-family: OPKODAB;
    font-size: 21px;
    color: #ffffff;
    float: right;
}


/*Galleries*/
div.gallery_wrapper0 {
    position: relative;
    width: 300px;
    height: 169px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0px 0px 60px 0px;
    background-color: blue;
}
    div.gallery_wrapper0 img {
        position: absolute;
        width: 300px;
        height: 169px;
    }
div.gallery_wrapper0 div.gallery_title {
    position: absolute;
    width: 288px;
    min-height: 15px;
    max-height: 35px;
    margin: 120px 0px 0px 3px;
    padding: 0px 3px 0px 3px;
    overflow: hidden;
    background-color: rgba(0, 140, 227, 0.7);
    text-decoration: none;
    font-family: OPKODAB;
    font-size: 21px;
    color: #ffffff;
}
div.gallery_wrapper0:hover div.gallery_title {
    background-color: rgba(255, 0, 0, 0.7);
}

div.gallery_wrapper1 {
    position: relative;
    width: 300px;
    height: 169px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0px 0px 60px 74px;
    background-color: blue;
}
    div.gallery_wrapper1 img {
        position: absolute;
        width: 300px;
        height: 169px;
    }
div.gallery_wrapper1 div.gallery_title {
    position: absolute;
    width: 288px;
    min-height: 15px;
    max-height: 35px;
    margin: 120px 0px 0px 3px;
    padding: 0px 3px 0px 3px;
    overflow: hidden;
    background-color: rgba(0, 140, 227, 0.7);
    text-decoration: none;
    font-family: OPKODAB;
    font-size: 21px;
    color: #ffffff;
}

div.gallery_wrapper1:hover div.gallery_title {
    background-color: rgba(255, 0, 0, 0.7);
}

a.test {
    position: absolute;
    width: 100%;
    height: 100%;
}


/*ViewGallery*/
div.viewimage_image0 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 169px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 64px 0px;
}

    div.viewimage_image0 div.viewimage_image_lamp {
        position: absolute;
        width: 300px;
        height: 169px;
    }

    div.viewimage_image0:hover div.viewimage_image_lamp {
        width: 300px;
        height: 199px;
        border-bottom: 4px solid red;
    }

div.viewimage_image1 {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 169px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 64px 74px;
}

    div.viewimage_image1 div.viewimage_image_lamp {
        position: absolute;
        width: 300px;
        height: 169px;
    }

    div.viewimage_image1:hover div.viewimage_image_lamp {
        width: 300px;
        height: 199px;
        border-bottom: 4px solid red;
    }


div.viewgallery_wrapper {
    padding: 20px 20px 20px 20px;
    font-family: Verdana;
}
div.viewgallery_bodytext {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: Verdana;
    font-size: 14px;
    color: #dcdcdc;
}
div.viewgallery_image_wrapper {
    text-align: center;
    margin: 0px 0px 20px 0px;
}
div.viewgallery_image {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 169px;
    padding: 0px 0px 0px 0px;
    margin: 17px 17px 17px 17px;
}


/*EditProfile*/
form.edit_profile {
    margin: 20px 0px 20px 0px;
    text-align: center;
}
input.file {
    width: 216px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 2px 2px 2px 2px;
    color: white;
    margin: 0px 15px 0px 0px;
    font-family: Verdana;
    font-size: 13px;
}
    input.file:focus {
        outline: none;
    }
span.successful {
    font-family: OPKODAB;
    font-size: 21px;
    color: #fff343;
}


/*Roster*/
table.roster {
    width: 500px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}
    table.roster tr {

    }
    table.roster td.class {
        width: 40px;
    }
    table.roster td.name {
        font-family: OPKODAB;
        font-size: 19px;
        text-align: center;
    }
    table.roster td.role {
        width: 135px;
        font-family: OPKODAB;
        font-size: 19px;
        color: #dcdcdc;
        text-align: center;
    }


/*Forum*/
div.forum_navigation {
    width: 1034px;
    background-color: rgba(28, 32, 39, 0.5);
    border: 1px solid #2e3741;
    margin: 0px 0px 10px 0px;
    padding: 10px 10px 10px 10px;

    color: #ffffff;
}
    div.forum_navigation a {
        font-family: Verdana;
        font-size: 15px;
        color: #fff343;
        text-decoration: underline;
    }
        div.forum_navigation a:hover {
            text-decoration: none;
        }



table.viewsubsection {
    width: 1076px;
    padding: 0px;
    margin: 0px 0px 0px -10px;
    border-spacing: 10px;
}
    table.viewsubsection td.header_title {
        height: 28px;
        padding: 0px 10px 0px 10px;
        background-color: rgba(0, 140, 227, 0.7);
        font-family: OPKODAB;
        font-size: 17px;
        color: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    table.viewsubsection td.header {
        height: 28px;
        background-color: rgba(0, 140, 227, 0.7);
        font-family: OPKODAB;
        font-size: 17px;
        color: #ffffff;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    table.viewsubsection td.content_lastmessage {
        background-color: rgba(28, 32, 39, 0.5);
        padding: 5px 10px 5px 10px;
        font-family: Verdana;
        font-size: 11px;
        color: #cdcdcd;
        border: 1px solid #2e3741;
    }
    table.viewsubsection td.content {
        background-color: rgba(28, 32, 39, 0.5);
        padding: 10px 10px 10px 10px;
        font-family: Verdana;
        font-size: 14px;
        color: #ffffff;
        border: 1px solid #2e3741;
    }
        table.viewsubsection td.content a.adm {
            margin: 0px 0px 0px 3px;
            padding: 1px 5px 2px 5px;
            background-color: #12a44b;
            font-family: Verdana;
            font-size: 11px;
            color: #ffffff;
            text-decoration: none;
        }
            table.viewsubsection td.content a.adm:hover {
                color: #ffffff;
                background-color: #ff0000;
                text-decoration: none;
            }
        table.viewsubsection td.content a.pagelink {
            font-family: Verdana;
            font-size: 11px;
            color: #fff343;
            text-decoration: none;
        }
            table.viewsubsection td.content a.pagelink:hover {
                text-decoration: underline;
            }
        table.viewsubsection td.content a {
            font-family: Verdana;
            font-size: 14px;
            color: #fff343;
            text-decoration: none;
        }
            table.viewsubsection td.content a:hover {
                text-decoration: underline;
            }
        table.viewsubsection td.content font.pages {
            font-family: Verdana;
            font-size: 11px;
            color: #ffffff;
        }

table.viewtopic {
    width: 1076px;
    padding: 0px;
    margin: 0px 0px 0px -10px;
    border-spacing: 10px;
}
    table.viewtopic td.line {
        height: 4px;
        background-color: rgba(0, 140, 227, 0.7);
    }
    table.viewtopic td.author {
        width: 180px;
        background-color: rgba(28, 32, 39, 0.5);
        text-align: center;
        padding: 10px 10px 10px 10px;
        font-family: Verdana;
        font-size: 14px;
        vertical-align: top;
        border: 1px solid #2e3741;
    }
    table.viewtopic td.message {
        background-color: rgba(28, 32, 39, 0.5);
        padding: 20px 20px 20px 20px;
        font-family: Verdana;
        font-size: 14px;
        color: #cdcdcd;
        vertical-align: top;
        border: 1px solid #2e3741;
    }
div.message_info {
    width: 800px;
    font-size: 10px;
    color: #ffffff;
    margin: 0px 0px 10px 0px;
    padding: 0px 2px 2px 2px;
}
    div.message_info div.date {
        width: 150px;
        display: inline-block;
    }
    div.message_info div.buttons {
        width: 646px;
        display: inline-block;
        text-align: right;
    }
        div.message_info div.buttons a.adm {
            margin: 0px 0px 0px 3px;
            padding: 1px 5px 2px 5px;
            background-color: #12a44b;
            font-family: Verdana;
            font-size: 11px;
            color: #ffffff;
            text-decoration: none;
        }
            div.message_info div.buttons a.adm:hover {
                color: #ffffff;
                background-color: #ff0000;
            }
        div.message_info div.buttons a.all {
            margin: 0px 0px 0px 3px;
            padding: 1px 5px 2px 5px;
            background-color: #1b8bdf;
            font-family: Verdana;
            font-size: 11px;
            color: #ffffff;
            text-decoration: none;
        }
            div.message_info div.buttons a.all:hover {
                color: #ffffff;
                background-color: #ff0000;
            }
div.pages {
    width: 1046px;
    margin: auto;
    padding: 0px 10px 0px 0px;
    text-align: right;
    font-family: Verdana;
    font-size: 12px;
    color: #ffffff;
}
    div.pages a {
        font-family: Verdana;
        font-size: 12px;
        color: #fff343;
        text-decoration: underline;
    }
    div.pages a:hover {
        text-decoration: none;
    }

div.newtopic_link {
    margin: 30px 0px 10px 0px;
    width: 100%;
    text-align: center;
}
    div.newtopic_link a {
        padding: 5px 10px 5px 10px;
        border: 2px solid #ffffff;
        background-color: #ffffff;
        border-radius: 15px;
        font-family: OPKODAB;
        font-size: 19px;
        color: #1b8bdf;
        text-decoration: none;
    }
        div.newtopic_link a:hover {
            color: #ffffff;
            background-color: #1b8bdf;
        }

form.reply {
    width: 100%;
    margin: 10px 0px 0px 0px;
    text-align: center;
}
    form.reply textarea {
        min-width: 760px;
        max-width: 760px;
        min-height: 300px;
        max-height: 300px;
        font-family: Verdana;
        color: #ffffff;
        font-size: 13px;
        margin: 10px 0px 0px 0px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #ffffff;
        background-color: rgba(49, 51, 54, 0.6);
    }
    form.reply textarea:focus {
        outline: none;
    }
form.reply input {
    padding: 5px 10px 5px 10px;
    margin: 10px 0px -10px 0px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 15px;
    font-family: OPKODAB;
    font-size: 19px;
    color: #1b8bdf;
}
form.reply input:focus {
    outline: none;
}
form.reply input:hover {
    color: #ffffff;
    background-color: #1b8bdf;
}

form.quickreply {
    width: 774px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
    form.quickreply label {
        font-family: Verdana;
        font-size: 14px;
        color: #cdcdcd;
        margin: 0px 0px 0px 170px;
    }
    form.quickreply a {
        font-family: OPKODAB;
        font-size: 19px;
        color: #ffffff;
        margin: 0px 0px 0px 0px;
        padding: 3px 5px 3px 5px;
        background-color: #1b8bdf; /*rgba(0, 140, 227, 0.7);*/
        text-decoration: none;
        float: right;
    }
        form.quickreply a:hover {
            background-color: #ff0000; /*rgba(255, 0, 0, 0.8);*/
        }
    form.quickreply textarea {
        min-width: 760px;
        max-width: 760px;
        min-height: 300px;
        max-height: 300px;
        font-family: Verdana;
        color: #ffffff;
        font-size: 13px;
        margin: 10px 0px 0px 0px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #ffffff;
        background-color: rgba(49, 51, 54, 0.6);
    }
        form.quickreply textarea:focus {
            outline: none;
        }
    form.quickreply input {
        padding: 5px 10px 5px 10px;
        margin: 10px 0px 10px 0px;
        border: 2px solid #ffffff;
        background-color: #ffffff;
        border-radius: 15px;
        font-family: OPKODAB;
        font-size: 19px;
        color: #1b8bdf;
    }
        form.quickreply input:focus {
            outline: none;
        }
        form.quickreply input:hover {
            color: #ffffff;
            background-color: #1b8bdf;
        }

div.quote {
    margin: 3px 0px 10px 0px;
    padding: 3px 5px 3px 5px;
    border: 1px solid #ffffff;
    background-color: rgba(0, 140, 227, 0.7);
    color: #dcdcdc;
}

a.anchor_link {
    font-family: Verdana;
    font-size: 10px;
    color: #ffffff;
    text-decoration: underline;
}
a.anchor_link:hover {
    text-decoration: none;
}

form.createtopic {
    width: 100%;
    margin: 10px 0px 0px 0px;
    text-align: center;
}
    form.createtopic input.topicname_adm {
        width: 646px;
        margin: 10px 0px 0px 0px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #ffffff;
        background-color: rgba(49, 51, 54, 0.6);
        font-family: Verdana;
        color: #ffffff;
        font-size: 13px;
        outline: none;
    }
    form.createtopic input.topicname {
        width: 760px;
        margin: 10px 0px 0px 0px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #ffffff;
        background-color: rgba(49, 51, 54, 0.6);
        font-family: Verdana;
        color: #ffffff;
        font-size: 13px;
        outline: none;
    }
        forum.createtopic input.topicname:focus {
            outline: none;
        }
    form.createtopic textarea {
        min-width: 760px;
        max-width: 760px;
        min-height: 300px;
        max-height: 300px;
        margin: 10px 0px 0px 0px;
        font-family: Verdana;
        color: #ffffff;
        font-size: 13px;
        padding: 5px 5px 5px 5px;
        border: 2px solid #ffffff;
        background-color: rgba(49, 51, 54, 0.6);
    }
        form.createtopic textarea:focus {
            outline: none;
        }
    form.createtopic input.button {
        padding: 5px 10px 5px 10px;
        margin: 10px 0px -10px 0px;
        border: 2px solid #ffffff;
        background-color: #ffffff;
        border-radius: 15px;
        font-family: OPKODAB;
        font-size: 19px;
        color: #1b8bdf;
    }
        form.createtopic input.button:hover {
            color: #ffffff;
            background-color: rgba(0, 140, 227, 0.7);
        }
        form.createtopic input.button:focus {
            outline: none;
        }

table.new_message {
    width: 1076px;
    padding: 0px;
    margin: 0px 0px 0px -10px;
    border-spacing: 10px;
}

    table.new_message td.line {
        height: 4px;
        background-color: rgba(0, 140, 227, 0.7);
    }

    table.new_message td.author {
        width: 180px;
        background-color: rgba(28, 32, 39, 0.5);
        text-align: center;
        padding: 10px 10px 10px 10px;
        font-family: Verdana;
        font-size: 14px;
        vertical-align: top;
        border: 1px solid #2e3741;
    }

    table.new_message td.message {
        background-color: rgba(28, 32, 39, 0.5);
        padding: 20px 20px 35px 20px;
        font-family: Verdana;
        font-size: 14px;
        color: #cdcdcd;
        vertical-align: top;
        border: 1px solid #2e3741;
    }

a.readlast_link {
    padding: 0px 0px 0px 0px;
    background-color: #ffffff;
    border-radius: 15px;
    font-family: OPKODAB;
    font-size: 19px;
    color: #1b8bdf;
    text-decoration: none;
}
a.readlast_link:hover {

}


/*BB Buttons*/
input.bb_buttons {
    margin: 2px 0px 2px 0px;
    width: 110px;
    height: 24px;
    border-radius: 12px;
    border: 0px;
    font-family: Verdana;
    font-size: 12px;
    background-color: #ffffff;
    color: #1b8bdf;
}
    input.bb_buttons:hover {
        background-color: #1b8bdf;
        color: #ffffff;
    }
    input.bb_buttons:focus {
        outline: none;
    }

input.bb_button_paladin {
    margin: 2px 0px 2px 0px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid #f58cba;
    font-family: Verdana;
    font-size: 12px;
    background-color: transparent;
}
    input.bb_button_paladin:hover {
        background-color: #f58cba;
    }
    input.bb_button_paladin:focus {
        outline: none;
    }

input.bb_button_warrior {
    margin: 2px 0px 2px 0px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid #c79c6e;
    font-family: Verdana;
    font-size: 12px;
    background-color: transparent;
}
    input.bb_button_warrior:hover {
        background-color: #c79c6e;
    }
    input.bb_button_warrior:focus {
        outline: none;
    }

input.bb_button_hunter {
    margin: 2px 0px 2px 0px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid #abd473;
    font-family: Verdana;
    font-size: 12px;
    background-color: transparent;
}
    input.bb_button_hunter:hover {
        background-color: #abd473;
    }
    input.bb_button_hunter:focus {
        outline: none;
    }

input.bb_button_shaman {
    margin: 2px 0px 2px 0px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid #0070de;
    font-family: Verdana;
    font-size: 12px;
    background-color: transparent;
}
    input.bb_button_shaman:hover {
        background-color: #0070de;
    }
    input.bb_button_shaman:focus {
        outline: none;
    }

input.bb_button_rogue {
    margin: 2px 0px 2px 0px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid #fff569;
    font-family: Verdana;
    font-size: 12px;
    background-color: transparent;
}
    input.bb_button_rogue:hover {
        background-color: #fff569;
    }
    input.bb_button_rogue:focus {
        outline: none;
    }

input.bb_button_druid {
    margin: 2px 0px 2px 0px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid #ff7d0a;
    font-family: Verdana;
    font-size: 12px;
    background-color: transparent;
}
    input.bb_button_druid:hover {
        background-color: #ff7d0a;
    }
    input.bb_button_druid:focus {
        outline: none;
    }

input.bb_button_priest {
    margin: 2px 0px 2px 0px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid #ffffff;
    font-family: Verdana;
    font-size: 12px;
    background-color: transparent;
}
    input.bb_button_priest:hover {
        background-color: #ffffff;
    }
    input.bb_button_priest:focus {
        outline: none;
    }

input.bb_button_mage {
    margin: 2px 0px 2px 0px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid #69ccf0;
    font-family: Verdana;
    font-size: 12px;
    background-color: transparent;
}
    input.bb_button_mage:hover {
        background-color: #69ccf0;
    }
    input.bb_button_mage:focus {
        outline: none;
    }

input.bb_button_warlock {
    margin: 2px 0px 2px 0px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 2px solid #9482c9;
    font-family: Verdana;
    font-size: 12px;
    background-color: transparent;
}
    input.bb_button_warlock:hover {
        background-color: #9482c9;
    }
    input.bb_button_warlock:focus {
        outline: none;
    }


    @font-face {
        font-family: OPKODAB;
        src: url("../css/futurespore_cyrillic.otf");
    }