@model List<OPKODABbl.Models.Forum.Section>

<div class="forum_wrapper">

    @*<a class="forum_blue" asp-action="Index" asp-controller="Forum">Форум</a>*@

    <div class="forum_content">
        @foreach (var sec in Model)
        {
            <div>
                <div class="forum_section_SectionName">
                    @sec.SectionName
                </div>
                <div class="forum_section_Topics">
                    Topics
                </div>
                <div class="forum_section_Replies">
                    Replies
                </div>
                <div class="forum_section_LastMessage">
                    Last message
                </div>
            </div>
            @foreach (var subsec in sec.Subsections)
            {
                <div>
                    <div class="forum_subsection_SubsectionName">
                        <a asp-action="Subsection" asp-controller="Forum" asp-route-subsectionId="@subsec.Id">@subsec.SubsectionName</a>
                    </div>
                    <div class="forum_subsection_Topics">
                        17
                    </div>
                    <div class="forum_subsection_Replies">
                        201
                    </div>
                    <div class="forum_subsection_LastMessage">
                        Administrator
                    </div>
                </div>
            }
        }
    </div>

</div>