@model OPKODABbl.Models.Forum.Subsection

<div class="forum_wrapper">

    <div>
        <div class="forum_subsection_link_blue">
            Форум
        </div>
        <div class="forum_subsection_link_red">
            @Model.SubsectionName
        </div>
        <div class="forum_subsection_link_grey">

        </div>
    </div>
    @Html.ActionLink("Создать тему", "CreateTopic", "Forum", new { subsectionId = ViewBag.SubsectionId })

    <table class="forum_main">
        @foreach (var topic in Model.Topics)
        {
            <tr>
                <td>
                    <a asp-action="ViewTopic" asp-controller="Forum" asp-route-topicId="@topic.Id">@topic.TopicName</a>
                </td>
            </tr>
        }
    </table>

</div>