@model OPKODABbl.Models.Forum.Topic

<table border="1">
    <tr>
        <td colspan="2">@Model.TopicName</td>
    </tr>
    <tr>
        <td>
            Тут будет информация о юзере
        </td>
        <td>
            @Model.TopicBody
        </td>
    </tr>
</table>