@model OPKODABbl.ViewModels.Page.RosterViewModel

<div class="content_wrapper">
    <table border="1" width="100%">
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    <img src="@user.CharacterClass.ClassIconPath" />
                </td>
                <td>
                    @user.CharacterClass.ClassName
                </td>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.Role.Name
                </td>
            </tr>
        }
    </table>
</div>